# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# MS VS files
.vs/
x64/
anno/GeneratedFiles
*.vcxproj.user

# qt creator files
build-anno*/
*.pro.user
anno/git_rev.h
# Mac files
*.DS_Store
